body {
  
  background-color: #d5b39c;

}
.card {


  border: solid #2a4c63;
  box-shadow: 5px 10px grey;
}
.Container {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../public/background.jpg");
  background-size: cover;
  filter: sepia(50%);
  
}

.navbar {
  width: 100%;
}
.nav.nav-tabs {
  background-color: #d5b39c;

  border: solid #2a4c63;
  box-shadow: 5px 10px grey;
}
.nav.nav-tabs .nav-link {
  color: #2a4c63;
  
}

.nav.nav-tabs .nav-link.active {
 background-color: blue;
}