body {
  
  background-color: #d5b39c;

}

.Container {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../public/background.jpg");
  background-size: cover;
  filter: sepia(50%);
  
}

.nav.nav-tabs .nav-link {
  color: #2a4c63;
  border: solid #d5b39c;
}

.nav.nav-tabs .nav-link.active {
 background-color: #9cc4d5;
}